<div class="chat-messages" id="chatdiv">
    <div class="placeholder-text" ng-click="chat.focusInput()" ng-if="!chat.messages.length">
        <h1>
            <i class="mdi-forum"></i>
        </h1>
        <span style="white-space: pre" bindonce bo-bind="'IDS_CHAT_MESSAGES_PLACEHOLDER' | translate"></span>
    </div>
    <div bindonce class="chat-message" ng-repeat="message in chat.messages track by $index">
        <div class="timestamp placeholder-text" bo-if="message.timestamp - chat.messages[$index-1].timestamp > 60000" bo-bind="message.timestamp | date:'shortTime'"></div>
        <div class="origin chat-uesrtitle"  bo-if="chat.messages[$index-1].origin !== message.origin" bo-bind="message.origin"></div>
        <div class="payload chat-uesrcontent" bo-title="message.timestamp | date:'medium'" bo-html="message.payload | enhanceText | unsafe"></div>
    </div>
</div>
<form class="chat-form brand-secondary" style="height: 45px;display: flex" ng-submit="chat.sendMessage(chatMessage); chatMessage=''">
    <input style="height: 100%;width:85%"  id="chat-field" type="text" autocomplete="off" ng-attr-placeholder="{{'IDS_CHAT_INPUT_PLACEHOLDER' | translate}}" ng-model="chatMessage" />
    <div class="chat-form-send" ng-click="chat.sendMessage(chatMessage); chatMessage=''">
        <img src="../img/chat-sent.png" alt="" style="height: 24px;padding: 6px">
    </div>
</form>
<div class="chat-header brand-primary">
    <span translate>IDS_CHAT</span>
    <div class="menu">
        <a id="hidden-save-link"></a>
        <!--<a href="" class="button" ng-click="chat.resetSeenMessages(); chat.chatSize = chat.chatSize - 1" ng-if="chat.chatSize > 0">-->
            <!--<i class="mdi-expand-more"></i>-->
        <!--</a>-->
        <!--<a href="" class="button" ng-click="chat.chatSize = chat.chatSize + 1" ng-if="chat.chatSize < 2">-->
            <!--<i class="mdi-expand-less"></i>-->
        <!--</a>-->
        <a ng-hide="drpengExtend.canSaveMessages()" ng-click="drpengExtend.saveMessages()">
            <span style="color: white;font-size: 12px;cursor: pointer;line-height: 20px;margin: 5px;padding: 2px 5px;background-color: royalblue;border-radius: 5px" ng-bind="'DOWNLOAD_CHATTRING_LOG' | translate"></span>
        </a>
    </div>
</div>