<div class="overlay-container brand-overlay" id="dialog-split-screen-mode" toggle>
    <form class="overlay-content brand-secondary custom-form" name="addParticipantForm" ng-submit="" novalidate>
        <div class="split-screen-list-container">
            <div class="split-screen-item-container" ng-click="drpengExtend.updateLayoutSettings($event,'layoutView', '1:0')">
                <span class="main-screen-img"></span>
                <span translate>IDS_CONFERENCE_A_MAIN_SCREEN</span>
            </div>
            <div class="split-screen-item-container" ng-click="drpengExtend.updateLayoutSettings($event, 'layoutView', '4:0')">
                <span class="five-split-screen-img"></span>
                <span translate>IDS_CONFERENCE_FOUR_POINT_SCREEN</span>
            </div>
            <div class="split-screen-item-container" ng-click="drpengExtend.updateLayoutSettings($event, 'layoutView', '1:7')">
                <span class="one-seven-screen-img"></span>
                <span translate>IDS_CONFERENCE_ONE_ADD_SEVEN_SCREEN</span>
            </div>
            <div class="split-screen-item-container" ng-click="drpengExtend.updateLayoutSettings($event, 'layoutView', '1:21')">
                <span class="one-twenty-one-screen-img"></span>
                <span translate>IDS_CONFERENCE_ONE_ADD_TWENTY_ONE_SCREEN</span>
            </div>
            <div class="split-screen-item-container" ng-click="drpengExtend.updateLayoutSettings($event, 'layoutView', '2:21')">
                <span class="two-twenty-one-screen-img"></span>
                <span translate>IDS_CONFERENCE_TWO_ADD_TWENTY_ONE_SCREEN</span>
            </div>
        </div>
    </form>
</div>
