<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插件安装提示</title>
    <link rel="stylesheet" href="../css/plugin.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="logo"></div>
    </div>
    <div class="browserSupport">
        <span class="tips">鹏云视频会议屏幕共享插件&nbsp;安装提示</span>
        <span class="explain">当前浏览器暂不支持屏幕共享功能，请下载如下浏览器：</span>
        <div class="browser">
            <div class="aoyou fl">
                <div class="aoyouLogo"></div>
                <p>遨游浏览器定制版</p>
                <p>(无需插件)</p>
            </div>
            <div class="browser2 common fl">
                <div class="browser2Logo"></div>
                <p>360浏览器</p>
            </div>
            <div class="google common fl">
                <div class="googleLogo"></div>
                <p>谷歌浏览器</p>
            </div>
            <div class="QQ common fl">
                <div class="QQLogo"></div>
                <p>QQ浏览器</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p class="slogan">沟通无障碍&nbsp;世界无距离</p>
        <p>鹏博士电信传媒集团股份有限公司</p>
        <p>客服热线：+86400-771-5151</p>
    </div>

</div>

</body>
</html>