<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共享插件</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/sharePlugin.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="logo"></div>
    </div>
    <div class="content ">
        <div class="title common pd50">
            <p class="ft20">鹏云视讯会议屏幕共享插件</p>
            <p class="ft13">如果使用电脑屏幕共享功能，需要安装浏览器扩展插件，不同浏览器安装扩展插件的位置有稍微差别，大多以扩展、应用命名</p>
        </div>
        <div class="method ft13 pd50">
            以下以Chrome浏览器的安装方法如下：
        </div>
        <div class="step1 pd50 common">
            <p class="ft20">1、请下载crx文件至本地保存</p>
            <a class="crxDownload" href="https://www.cloudp.cc/app/pengScreenShare.crx">下载crx文件</a>
        </div>
        <div class="step2 common mt11 pd50">
            <p class="ft20">2、打开扩展程序中心</p>
            <div class="extend"></div>
        </div>
        <div class="step3 mt11 common pd50">
            <p class="ft20">3、将下载到本地的crx文件，拖放到扩展程序页面</p>
            <div class="drag"></div>
        </div>
        <div class="step4  mt11 common pd50">
            <p class="ft20">4、点击“添加扩展程序”安装即可</p>
            <div class="add"></div>
        </div>
        <div class="step5  mt11 common pd50">
            <p class="ft20">5、重新进入会议室即可使用屏幕共享功能</p>
        </div>
    </div>
    <div class="bottom">
        <p class="slogan">沟通无障碍&nbsp;世界无距离</p>
        <p>鹏博士电信传媒集团股份有限公司</p>
        <p>客服热线：+86400-771-5151</p>
    </div>
</div>
</body>
</html>